
body {

    margin-top:0px;
    padding:0px;
    background-image: url(../img/fact6.jpg);
    font-family:arial;

}

.leftcolm {
    background-color:#ddd;
    margin-left: 50px;
}

.rightcolm {
    /*background-color:#ddd;*/
    background-color:#FFFFFF;
    padding:20px;
}

.leftcolm-menu1 {
    /*background-color:#ddd;*/
    background-color:#FFFFFF;
    padding:70px;
    margin-left: 130px;
}


.midcont {
    padding:50px;
    /*background-color:#CCCCCC;*/
    margin: 50px;
}

.meny{
    padding: 15px;
    border-radius: 5px;

}

li ul {
    position: absolute;
    display: none;
    margin-left: 190px;
    margin-top: -30px;

}

li a {

    display: block;
    padding: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    color: #666;
    /*border-radius: 5px;*/

    /*box-shadow: 0px 0px 0px 2px #0ea8f4;*/

    /*
        background: -moz-radial-gradient(center, ellipse cover, #7df9ff 50%, #FBFFFF);
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(50%,#7df9ff), color-stop(100%,#FBFFFF));
        background: -webkit-radial-gradient(center, ellipse cover, #dddddd 50%, #FBFFFF);
        background: -o-radial-gradient(center, ellipse cover, #7df9ff 50%, #FBFFFF);
        background: -ms-radial-gradient(center, ellipse cover, #7df9ff 50%, #FBFFFF);
    */


    background: -moz-radial-gradient(center, ellipse cover, #000 50%, #00);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(50%,#000), color-stop(100%,#000));
    background: -webkit-radial-gradient(center, ellipse cover, #E8EBF1 50%, #E8EBF1);
    background: -o-radial-gradient(center, ellipse cover, #000 50%, #000);
    background: -ms-radial-gradient(center, ellipse cover, #000 50%, #000);


}

li a:hover {
    /*color: #666;*/
    /*box-shadow: 0px 0px 5px 2px #fff;*/
    /*background: -moz-radial-gradient(center, ellipse cover, #ddd, #ddd);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ddd), color-stop(100%,#ddd));
    background: -webkit-radial-gradient(center, ellipse cover, #ddd, #ddd);
    background: -o-radial-gradient(center, ellipse cover, #ddd, #ddd);
    background: -ms-radial-gradient(center, ellipse cover, #ddd, #ddd);*/

}

li a:active{
    /*box-shadow: 0px 0px 15px 5px #0ea8f4;*/
}

li:hover ul {
    display: block;

}

.leftimgskype {
    float:left; /* Выравнивание по левому краю */
    margin: -3px 7px 7px 10px; /* Отступы вокруг картинки */

}
