.block1 {
    background: #fff;
    margin:10px;
	padding:10px;
	color:black;
	width:700px;
    text-align: left;
    border-radius:4px;
   }


#print_found_spelling
{
	margin:20px;
}

#print_found
{
	margin:10px;
}

#content_post{
margin:20px;
	border-radius:4px;
	width:702px;
	
	max-width: 800px;
	
	
	background-color: #ffffff;
	display: block;
	border: 1px solid #D8D8D8
}

#tags{
	width:679px;
	z-index:3;
	border-radius:4px;
	

	border: 1px solid #D8D8D8;
}
   
   #tags_submit{

	z-index:3;
	border-radius:4px;
	background-color: #ffffff;

	border: 1px solid #D8D8D8
}
  
   
   