.dws{
	position:absolute;
	top:30%;
	left:10%;
	background-color: #c0c0c0;
	text-decoration:none;
}

.butt {
	border: 5px solid #c0c0c0;
	font-size: 20px;
	color: #575757;
	text-decoration:none;
}

.dws2{
	position:absolute;
	top:30%;
	left:30%;
	background-color: #c0c0c0;
	text-decoration:none;
}

.butt2 {
	border: 5px solid #c0c0c0
	font-size:50px
	color: #575757;
	text-decoration:none;
	
}

.dws3{
	position:absolute;
	top:30%;
	left:50%;
	background-color: #c0c0c0;
	text-decoration:none;
}

.butt3 {
	border: 5px solid #c0c0c0;
	font-size: 20px;
	color: #575757;
	text-decoration:none;
	
}

.dws4{
	position:absolute;
	top:30%;
	left:70%;
	background-color: #c0c0c0;
	text-decoration:none;
}

.butt4 {
	border: 5px solid #c0c0c0;
	font-size: 20px;
	color: #575757;
	text-decoration:none;
}

.dws5{
	position:absolute;
	top:60%;
	left:10%;
	background-color: #c0c0c0;
	text-decoration:none;
}

.butt5 {
	border: 5px solid #c0c0c0;
	font-size: 20px;
	color: #575757;
	text-decoration:none;	
}

.dws6{
	position:absolute;
	top:60%;
	left:30%;
	background-color: #c0c0c0;
	text-decoration:none;
}

.butt6 {
	border: 5px solid #c0c0c0;
	font-size: 20px;
	color: #575757;
	text-decoration:none;
}

.dws7{
	position:absolute;
	top:60%;
	left:50%;
	background-color: #c0c0c0;
	text-decoration:none;
}

.butt7 {
	border: 5px solid #c0c0c0;
	font-size: 20px;
	color: #575757;
	text-decoration:none;
}

.dws8{
	position:absolute;
	top:60%;
	left:70%;
	background-color: #c0c0c0;
	text-decoration:none;
}

.butt8 {
	border: 5px solid #c0c0c0;
	font-size: 20px;
	color: #575757;
	text-decoration:none;
}
