/*
   .header {
    background: #60a475; 
    height: 40px;
   }
 */
.header {
    position: fixed;
	z-index:2;
   }


   
   
   .menu{
	position: fixed;
            top:10px;
			left:20px;
            z-index:3;
}


.message{
	position: fixed;
            top:5px;
			left:625px;
            z-index:2;
}



#sub_modal {
  display: none;
  background-color:#fff;
  position: fixed;
            top:15px;
			left:115px;
            z-index:2;
			margin:10px;
			padding:10px;
}